<%= form_tag search_path do %>

  <p>
    <%= text_field_tag :search %>
    <%= submit_tag "Search"%>
  </p>

<% end %>

<h2>Categories </h2>

<ol>

  <% @categories.each do |category| %>
    <li>
      <%= link_to category_products_path(category) do %>
        <%= category.title %>
        (<%= category.products_count %> products)
      <%end%>
    </li>
  <% end %>

</ol>
<%= paginate @categories %>
